<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Liste des applications</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-sref="application">Home</a></li>
            <li class="active">Applications</li>
        </ul>
    </div>
</div>
<div class="container content">
    <alert ng-if="application.alert.active" type="{{application.alert.type}}" close="application.alert.active = false">
        <i class="fa" ng-class="application.alert.type === 'success' ? 'fa-check': 'fa-warning'"></i>
        <strong ng-if="application.alert.type === 'danger'">Erreur ! </strong>{{application.alert.msg}}
    </alert>
    <table class="table table-striped table-wrap">
        <thead>
        <tr>
            <th ng-click="application.sortColumn('nom')">Nom
                <i class="pull-right fa" ng-class="application.sort.class.nom || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('environnement')">Environnement
                <i class="pull-right fa" ng-class="application.sort.class.environnement || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('groupId')">GroupId
                <i class="pull-right fa" ng-class="application.sort.class.groupId || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('artifactId')">ArtifactId
                <i class="pull-right fa" ng-class="application.sort.class.artifactId || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('version')">Version
                <i class="pull-right fa" ng-class="application.sort.class.version || 'fa-sort'"></i></th>
            <th class="col-md-1">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="app in application.applications">
            <td><a href="{{app.url}}">{{app.nom}}</a></td>
            <td>{{app.environnement}}</td>
            <td>{{app.groupId}}</td>
            <td>{{app.artifactId}}</td>
            <td>{{app.version}}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs margin-right-10" ng-click="application.edit(app)">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="application.delete(app)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="application.props.total" ng-model="application.props.current" boundary-links="true"
                ng-change="application.pageChange()" max-size="5" items-per-page="application.props.numberPerPage"
                class="pull-right"></pagination>
    <button class="btn-u" ng-click="application.modal()"><i class="fa fa-plus"></i> Ajouter une application</button>
</div>
