<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Liste des applications</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">Applications</li>
        </ul>
    </div>
</div>
<div class="container content">
    <alert ng-if="application.alert.active" type="{{application.alert.type}}" close="application.alert.active = false">
        <i class="fa" ng-class="application.alert.type === 'success' ? 'fa-check': 'fa-warning'"></i>
        <strong ng-if="application.alert.type === 'danger'">Erreur ! </strong>{{application.alert.msg}}
    </alert>
    <form class="form-inline margin-bottom-10" role="form">
        <div class="form-group col-md-3">
            <label class="sr-only" for="search-name">Recherche par name</label>

            <input type="text" class="form-control input-block-level" id="search-name" placeholder="Nom"
                   ng-change="application.refresh()" ng-model="application.search.name">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="search-env">Recherche par environnement</label>

            <select type="text" class="form-control input-block-level" id="search-env" ng-change="application.refresh()"
                    ng-model="application.search.environment">
                <option value="">Environnement</option>
                <option ng-repeat="env in application.environments" value="{{env}}">{{env}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="search-artifact-id">Recherche par artifactId</label>

            <input type="text" class="form-control input-block-level" id="search-artifact-id" placeholder="artifactId"
                   ng-change="application.refresh()" ng-model="application.search.artifactId">
        </div>
        <div class="form-group col-md-2 margin-right-10">
            <label for="search-version" class="sr-only">Recherche par version</label>

            <input type="text" class="form-control input-block-level" id="search-version"
                   ng-change="application.refresh()" ng-model="application.search.version" placeholder="Version"/>
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="search-status">Recherche par statut</label>

            <select type="text" class="form-control input-block-level" id="search-status"
                    ng-change="application.refresh()"
                    ng-model="application.search.status">
                <option value="">Statut</option>
                <option value="UP">UP</option>
                <option value="DOWN">DOWN</option>
                <option value="UNKNOWN">UNKNOWN</option>
            </select>
        </div>
        <button class="btn btn-warning" ng-click="application.resetFilter()"><i class="fa fa-times"></i> Reset</button>
    </form>
    <table class="table table-striped table-wrap">
        <thead>
        <tr>
            <th ng-click="application.sortColumn('name')" class="col-md-3">Nom
                <i class="pull-right fa" ng-class="application.sort.class.name || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('environment')" class="col-md-2">Environnement
                <i class="pull-right fa" ng-class="application.sort.class.environment || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('artifactId')" class="col-md-2">ArtifactId
                <i class="pull-right fa" ng-class="application.sort.class.artifactId || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('version')" class="col-md-2">Version
                <i class="pull-right fa" ng-class="application.sort.class.version || 'fa-sort'"></i></th>
            <th ng-click="application.sortColumn('status')" class="col-md-2">Statut
                <i class="pull-right fa" ng-class="application.sort.class.status || 'fa-sort'"></i></th>
            <th class="col-md-1">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="app in application.applications">
            <td class="col-md-3">
                {{app.name}}
                <a class="btn btn-info btn-xs pull-right margin-right-10"
                   ui-sref="applications.detail.dashboard({id: app.id})">
                    <i class="fa fa-external-link"></i>
                </a>
            </td>
            <td class="col-md-2">
                {{app.environment}}
                <a class="btn btn-info btn-xs pull-right margin-right-10"
                   ui-sref="environment({name: app.environment})">
                    <i class="fa fa-external-link"></i>
                </a>
            </td>
            <td class="col-md-2">{{app.artifactId}}</td>
            <td class="col-md-2">{{app.version}}</td>
            <td class="col-md-2">
                <span class="label rounded-2x" ng-class="'label-' + application.icon(app.status).class">
                    <i class="fa" ng-class="application.icon(app.status).icon"></i> {{app.status}}
                </span>
            </td>
            <td class="col-md-1">
                <button type="button" class="btn btn-warning btn-xs margin-right-10"
                        ng-click="application.editModal(app)">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="application.removeModal(app)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="application.props.total" ng-model="application.props.current" boundary-links="true"
                ng-change="application.refresh()" max-size="5" items-per-page="application.props.numberPerPage"
                class="pull-right"></pagination>
    <button class="btn btn-u" ng-click="application.editModal()"><i class="fa fa-plus"></i> Ajouter une
        application
    </button>
</div>
