<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Données de {{appDetail.readableName}} en {{appDetail.application.environment}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-sref="home">Accueil</a></li>
            <li><a ui-sref="applications">Applications</a></li>
            <li class="active">Détail</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-2 md-margin-bottom-30">
            <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                <li class="list-group-item" ui-sref-active="active">
                    <a ui-sref="applications.detail.dashboard({id: appDetail.application.id})">
                        <i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="list-group-item" ui-sref-active="active">
                    <a ui-sref="applications.detail.controllers({id: appDetail.application.id})">
                        <i class="fa fa-code-fork"></i> Contrôleurs</a>
                </li>
                <li class="list-group-item" ui-sref-active="active">
                    <a ui-sref="applications.detail.properties.params({id: appDetail.application.id})">
                        <i class="fa fa-cogs"></i> Propriétés</a>
                </li>
                <li class="list-group-item" ui-sref-active="active">
                    <a ui-sref="applications.detail.logs({id: appDetail.application.id})">
                        <i class="fa fa-cogs"></i> Logs</a>
                </li>
                <li class="list-group-item" ui-sref-active="active">
                    <a ui-sref="applications.detail.health({id: appDetail.application.id})">
                        <i class="fa fa-heartbeat"></i> Fil de vie</a>
                </li>

            </ul>
            <button class="btn btn-u margin-left-10" ng-click="appDetail.refresh()">
                <i class="fa fa-refresh"></i> Rafraîchir
            </button>
        </div>
        <div class="col-md-10" ui-view="detail">
        </div>
    </div>
</div>