<h3>Utilisation des contrôleurs (temps en ms)</h3>
<div class="row">
    <form class="sky-form no-border" role="form">
        <div class="col col-5">
            <label class="input">
                <input type="text" class="form-control input-block-level" id="search-class"
                       placeholder="Classe" ng-change="ctrls.refresh()" ng-model="ctrls.search.class">
            </label>
        </div>
        <div class="col col-5">
            <label class="input">
                <input type="text" class="form-control input-block-level" id="search-method"
                       placeholder="Méthode" ng-change="ctrls.refresh()" ng-model="ctrls.search.method">
            </label>
        </div>
        <button class="btn btn-warning pull-right" ng-click="ctrls.resetFilter()"><i class="fa fa-times"></i> Reset
        </button>
    </form>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-click="ctrls.sortColumn('class')">Classe
                <i class="pull-right fa" ng-class="ctrls.sort.class.class || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('method')">Méthode
                <i class="pull-right fa" ng-class="ctrls.sort.class.method || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('count')">Count
                <i class="pull-right fa" ng-class="ctrls.sort.class.count || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('mean')">Mean
                <i class="pull-right fa" ng-class="ctrls.sort.class.mean || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('min')">Min
                <i class="pull-right fa" ng-class="ctrls.sort.class.min || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p50')">p50
                <i class="pull-right fa" ng-class="ctrls.sort.class.p50 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p75')">p75
                <i class="pull-right fa" ng-class="ctrls.sort.class.p75 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p95')">p95
                <i class="pull-right fa" ng-class="ctrls.sort.class.p75 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p99')">p99
                <i class="pull-right fa" ng-class="ctrls.sort.class.p75 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('max')">Max
                <i class="pull-right fa" ng-class="ctrls.sort.class.max || 'fa-sort'"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stat in ctrls.stats">
            <td>{{stat.class}}</td>
            <td>{{stat.method}}</td>
            <td>{{stat.count}}</td>
            <td>{{stat.mean * 1000 | number:0}}</td>
            <td>{{stat.min * 1000 | number:0}}</td>
            <td>{{stat.p50 * 1000 | number:0}}</td>
            <td>{{stat.p75 * 1000 | number:0}}</td>
            <td>{{stat.p95 * 1000 | number:0}}</td>
            <td>{{stat.p99 * 1000 | number:0}}</td>
            <td>{{stat.max * 1000 | number:0}}</td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="ctrls.props.total" ng-model="ctrls.props.current" boundary-links="true"
                ng-change="ctrls.refresh()" max-size="5" items-per-page="ctrls.props.numberPerPage"
                class="pull-right"></pagination>
</div>
