<h3>Utilisation des contrôleurs (temps en ms)</h3>
<div class="row">
    <form class="sky-form no-border" role="form">
        <label class="label col col-4" for="search-method">Recherche par nom de méthode</label>

        <div class="col col-6">
            <label class="input">
                <input type="text" class="form-control input-block-level" id="search-method"
                       placeholder="Nom de la méthode"
                       ng-change="ctrls.refresh()" ng-model="ctrls.search.method">
            </label>
        </div>
    </form>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-click="ctrls.sortColumn('method')">Nom de la ressource
                <i class="pull-right fa" ng-class="ctrls.sort.class.method || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('count')">Count
                <i class="pull-right fa" ng-class="ctrls.sort.class.count || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('mean')">Mean
                <i class="pull-right fa" ng-class="ctrls.sort.class.mean || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('min')">Min
                <i class="pull-right fa" ng-class="ctrls.sort.class.min || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p50')">ArtifactId
                <i class="pull-right fa" ng-class="ctrls.sort.class.p50 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p75')">p75
                <i class="pull-right fa" ng-class="ctrls.sort.class.p75 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p95')">p95
                <i class="pull-right fa" ng-class="ctrls.sort.class.p75 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('p99')">p99
                <i class="pull-right fa" ng-class="ctrls.sort.class.p75 || 'fa-sort'"></i></th>
            <th ng-click="ctrls.sortColumn('max')">Max
                <i class="pull-right fa" ng-class="ctrls.sort.class.max || 'fa-sort'"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stat in ctrls.stats">
            <td>{{stat.method}}</td>
            <td class="text-right">{{stat.count}}</td>
            <td class="text-right">{{stat.mean * 1000 | number:0}}</td>
            <td class="text-right">{{stat.min * 1000 | number:0}}</td>
            <td class="text-right">{{stat.p50 * 1000 | number:0}}</td>
            <td class="text-right">{{stat.p75 * 1000 | number:0}}</td>
            <td class="text-right">{{stat.p95 * 1000 | number:0}}</td>
            <td class="text-right">{{stat.p99 * 1000 | number:0}}</td>
            <td class="text-right">{{stat.max * 1000 | number:0}}</td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="ctrls.props.total" ng-model="ctrls.props.current" boundary-links="true"
                ng-change="ctrls.refresh()" max-size="5" items-per-page="ctrls.props.numberPerPage"
                class="pull-right"></pagination>
</div>
