<h3>Utilisation des contrôleurs (temps en ms)</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom de la ressource</th>
            <th class="text-right">Count</th>
            <th class="text-right">Mean</th>
            <th class="text-right">Min</th>
            <th class="text-right">p50</th>
            <th class="text-right">p75</th>
            <th class="text-right">p95</th>
            <th class="text-right">p99</th>
            <th class="text-right">Max</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(k, v) in ctrls.stats">
            <td>{{k}}</td>
            <td class="text-right">{{v.count}}</td>
            <td class="text-right">{{v.mean * 1000 | number:0}}</td>
            <td class="text-right">{{v.min * 1000 | number:0}}</td>
            <td class="text-right">{{v.p50 * 1000 | number:0}}</td>
            <td class="text-right">{{v.p75 * 1000 | number:0}}</td>
            <td class="text-right">{{v.p95 * 1000 | number:0}}</td>
            <td class="text-right">{{v.p99 * 1000 | number:0}}</td>
            <td class="text-right">{{v.max * 1000 | number:0}}</td>
        </tr>
        </tbody>
    </table>
</div>
