<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Environnement {{env.readableName}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">Environnement</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="headline"><h2>Applications</h2></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>ArtifactId</th>
                    <th>Version</th>
                    <th>Statut</th>
                    <th>Détail</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="app in env.apps">
                    <td>{{app.name}}</td>
                    <td>{{app.artifactId}}</td>
                    <td>{{app.version}}</td>
                    <td>
                        <span class="label rounded-2x" ng-class="'label-' + env.icon(app.status).class">
                            <i class="fa" ng-class="env.icon(app.status).icon"></i> {{app.status}}
                        </span>
                    </td>
                    <td>{{app.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="headline"><h2>Partenaires</h2></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Url</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="partner in env.partners">
                    <td>{{partner.name}}</td>
                    <td>{{partner.url}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>