<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="index.html">
            <img src="assets/img/logo1-default.png" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right"></ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">

                <li><a ui-sref="applications"><i class="fa fa-desktop"></i> Applications</a></li>
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <a ui-sref="envs" class="dropdown-toggle"><i class="fa fa-cloud"></i> Environnements</a>
                        <li><a ui-sref="envs.development"> Développement</a></li>
                        <li><a ui-sref="envs.assemblage"> Assemblage</a></li>
                        <li><a ui-sref="envs.integration"> Intégration</a></li>
                        <li><a ui-sref="envs.qualification"> Qualification</a></li>
                        <li><a ui-sref="envs.recette"> Recette</a></li>
                        <li><a ui-sref="envs.preprod"> Pré-production</a></li>
                        <li><a ui-sref="envs.production"> Production</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-heartbeat"></i> Administration
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="docs"><i class="fa fa-book"></i> Documentation API</a>
                        </li>
                        <li>
                            <a ui-sref="metrics"><i class="fa fa-dashboard"></i> Monitoring</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>