<div class="header">
    <div class="topbar">
        <div class="container">
            <ul class="loginbar pull-right">
                <li><a>Connexion</a></li>
                <li class="topbar-devider"></li>
                <li><a>Créer un compte</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">
                    <img id="logo-header" src="assets/img/logo1-default.png" alt="Logo">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="envs">Environnements</a></li>
                    <li><a ui-sref="projects">Projets</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Administration
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="docs"><i class="fa fa-book"></i> Documentation API</a>
                            </li>
                            <li>
                                <a ui-sref="metrics"><i class="fa fa-dashboard"></i> Monitoring</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
