<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Partenaires</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">Partenaires</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="col-md-4 col-sm-6" ng-repeat="part in partner.partners">
        <div class="service-block service-block-v3 rounded-2x"
             ng-class="part.status == 'UP' ? 'service-block-u' : 'service-block-red'">
            <i class="fa"
               ng-class="part.status == 'UP' ? 'fa-thumbs-up' : 'fa-thumbs-down'"></i>

            <h2 class="heading-md">{{part.name}}</h2>

            <div class="row margin-bottom-20">
                <div class="service-in"><h4>{{part.url}}</h4></div>
            </div>

            <div class="row margin-bottom-20">
                <div class="service-in">
                    <small>Applications</small>
                    <div class="clearfix"></div>
                    <div class="col-sm-3" ng-repeat="app in part.applications | unique:'artifactId'">
                        <span class="label label-light rounded linked"
                              ui-sref="applications.detail.dashboard({id: app.id})">{{app.artifactId}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-in">
                    <small>Environnements</small>
                    <div class="clearfix"></div>
                    <div class="col-sm-4" ng-repeat="app in part.applications | unique:'environment'">
                        <span class="label label-light rounded linked"
                              ui-sref="environnement({name: app.environment})">{{app.environment}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
