<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="editAppModal.close()">×</button>
    <h4 class="modal-title">Ajouter une application</h4>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
    <button type="button" class="btn-u btn-u-default" ng-click="editAppModal.close()">
        <i class="fa fa-remove"></i> Fermer
    </button>
    <button type="button" class="btn-u btn-u-primary" ng-click="editAppModal.save()">
        <i class="fa fa-plus"></i> Ajouter
    </button>
</div>