<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="editAppModal.close()">×</button>
    <h4 class="modal-title">Ajouter une application</h4>
</div>
<div class="modal-body">
    <form class="sky-form" name="form" role="form">
        <div class="row">
            <label class="label col col-4">Environnement</label>

            <div class="col col-8">
                <label class="select">
                    <select id="environnement" name="environnement" ng-model="editAppModal.application.environnement"
                            required ng-disabled="editAppModal.urlChecked">
                        <option value="DEVELOPPEMENT" selected>Développement</option>
                        <option value="ASSEMBLAGE">Assemblage</option>
                        <option value="INTEGRATION">Intégration</option>
                        <option value="RECETTE">Recette</option>
                        <option value="PRE_PRODUCTION">Pré-production</option>
                        <option value="PRODUCTION">Production</option>
                    </select>
                    <i></i>
                </label>
            </div>
        </div>
        <div class="row">
            <label class="label col col-4">Url de monitoring</label>

            <div class="col col-8">
                <label class="input"
                       ng-class="{'state-error': (form.$submitted || form.url.$touched) && form.url.$invalid}">
                    <i class="icon-append fa fa-asterisk"></i>
                    <input id="url" name="url" class="form-control" type="text" placeholder="Url de monitoring"
                           ng-model="editAppModal.application.url" required ng-disabled="editAppModal.urlChecked"/>

                    <div ng-messages="(form.$submitted || form.url.$touched) && form.url.$error"
                         class="note note-error">
                        <div ng-message="required">Veuillez renseigner une url de monitoring.</div>
                        <div ng-message="conflict">Cette URL est déjà utilisée.</div>
                        <div ng-message="check">Impossible de récupérer les informations à l'URL renseignée. L'URL doit
                            être de la forme : http://www.MON_SERVEUR.com/manage/info.
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </form>
    <hr ng-if="editAppModal.urlChecked"/>
    <div class="row" ng-if="editAppModal.urlChecked">
        <div class="col-md-10 col-md-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Informations sur l'application</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nom</td>
                    <td>{{editAppModal.application.nom}}</td>
                </tr>
                <tr>
                    <td>ArtifactId</td>
                    <td>{{editAppModal.application.artifactId}}</td>
                </tr>
                <tr>
                    <td>GroupId</td>
                    <td>{{editAppModal.application.groupId}}</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>{{editAppModal.application.version}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer" ng-switch="editAppModal.urlChecked">
    <button ng-switch-default type="button" class="btn-u btn-u-default" ng-click="editAppModal.close()">
        <i class="fa fa-remove"></i> Fermer
    </button>
    <button ng-switch-when="true" type="button" class="btn-u btn-u-default" ng-click="editAppModal.cancel()">
        <i class="fa fa-undo"></i> Annuler
    </button>
    <button ng-switch-when="true" type="button" class="btn-u btn-u-primary" ng-click="editAppModal.save()">
        <i class="fa fa-plus"></i> Ajouter
    </button>
    <button ng-switch-default type="button" class="btn-u btn-u-blue" ng-click="editAppModal.check(form)">
        <i class="fa fa-spinner"></i> Vérifier l'URL
    </button>
</div>