<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="editAppModal.close()">×</button>
    <h4 class="modal-title">Ajouter une application</h4>
</div>
<div class="modal-body">
    <form class="sky-form" name="form" role="form">
        <label class="input"
               ng-class="{'state-error': (form.$submitted || form.nom.$touched) && form.nom.$invalid}">
            <i class="icon-prepend fa fa-sign-in"></i>
            <i class="icon-append fa fa-asterisk"></i>
            <input id="nom" name="nom" class="form-control" type="text" placeholder="Nom de l'application"
                   ng-model="editAppModal.application.nom" maxlength="50" required ng-pattern="/^[a-zA-Z0-9]+$/"/>

            <div ng-messages="(form.$submitted || form.nom.$touched) && form.nom.$error"
                 class="note note-error">
                <div ng-message="required">Veuillez saisir un nom d'application.</div>
                <div ng-message="pattern">Le nom de l'application ne doit pas contenir d'accents ou de caractères
                    spéciaux.
                </div>
            </div>
        </label>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn-u btn-u-default" ng-click="editAppModal.close()">
        <i class="fa fa-remove"></i> Fermer
    </button>
    <button type="button" class="btn-u btn-u-primary" ng-click="editAppModal.save()">
        <i class="fa fa-plus"></i> Ajouter
    </button>
</div>